@import 'sass-bootstrap/lib/bootstrap';

.brand {
	font-family: 'Gloria Hallelujah', cursive;
}
h2 {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

$shadow-color: #888;

.coke, .pepsi {
    margin: 5px;
    height: 560px;
    box-shadow: 0px 2px 1px lighten($shadow-color,20%);
    border-radius: 3px;
}
.tweet-image {
	float: left;
	margin-left: -58px;
}
.tweet {
	border: 1px solid darken(whitesmoke, 15%);
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 68px;
	position: relative;
	z-index: 20;
	min-height: 7em;
	background-color: rgba(255,255,255,0.95);
}
.avatar {
	height: 48px;
	width: 48px;
}
.well {
	padding: 19px 8px 19px 8px;
}
.row {
	margin: 0px -19px 20px -19px;
}
.red, .blue {
	overflow: hidden;
}
.tweet-area {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: whitesmoke;
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0);
	border-radius: 0;
	height: 500px;
	z-index: 10;
}
.can-row {
}
.can-svg {
	position: relative;
	height: 500px;
	width: 500px;
	margin: 0px 0 0 -15px;
	z-index: 0;
}
.pep-can-color {
	fill: #000d82;
}
.cok-can-color {
	fill: #b81321;
}
.start-coke {
}
.start-pepsi {
}
.cc {
	text-align: center;
}
@mixin keyframes-slide($prefix: '') {
        100% { #{$prefix}transform: translateX(500px); opacity: 1.0;}
        100% { #{$prefix}transform: translateX(500px); opacity: 0;}
}
@-webkit-keyframes slide {
        @include keyframes-slide(-webkit-)
}
@-moz-keyframes slide {
        @include keyframes-slide(-moz-)
}
@-o-keyframes slide {
        @include keyframes-slide(-o-)
}
@keyframes slide {
        @include keyframes-slide()
}
@mixin transform-origin($x: '', $y: '', $z: '') {
        -webkit-transform-origin: #{$x} #{$y} #{$z};
        -moz-transform-origin: #{$x} #{$y} #{$z};
        -o-transform-origin: #{$x} #{$y} #{$z};
        transform-origin: #{$x} #{$y} #{$z};
}
@mixin animation-name($name) {
        -webkit-animation-name: #{$name};
        -moz-animation-name: #{$name};
        -o-animation-name: #{$name};
        animation-name: #{$name};
}
.slide {
        @include transform-origin(center, center);
        @include animation-name(slide);
}
@mixin animation-params($prefix, $duration, $delay, $timing, $fillmode) {
        #{$prefix}animation-duration: #{$duration};
        #{$prefix}animation-delay: #{$delay};
        #{$prefix}animation-timing-function: #{$timing};
        #{$prefix}animation-fill-mode: #{$fillmode};
}
$anim-duration: 2.0s;
.animate0{
        @include animation-params(-webkit-, $anim-duration, 0s, ease-in, both);
        @include animation-params(-moz-, $anim-duration, 0s, ease-in, both);
        @include animation-params(-ms-, $anim-duration, 0s, ease-in, both);
        @include animation-params('', $anim-duration, 0s, ease-in, both);
}
