@import 'sass-bootstrap/lib/bootstrap';

.brand {
	font-family: 'Noto-Sans', sans-serif;
}
h2 {
	font-family: 'Noto-Sans', sans-serif;
	text-align: center;
}

$shadow-color: #888;

.coke, .pepsi {
    margin: 5px;
    height: 560px;
    box-shadow: 0px 2px 1px lighten($shadow-color,20%);
    border-radius: 3px;
}
.btn-coke, .btn-pepsi {
    width: 75px;
}
.tweet-image {
	float: left;
	margin-left: -58px;
}
.tweet {
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
	line-height: 1.33;
	border: 1px solid darken(whitesmoke, 15%);
	margin: 10px;
	padding: 10px 10px 8px 68px;
	position: relative;
	z-index: 20;
	background-color: rgba(255,255,255,0.95);
}
.inner-tweet {
	padding: 6px 6px 0 6px;
	p {
		min-height: 50px;
		height:	    50px;
		max-height: 50px;
		overflow: hidden;
	}
}
.avatar {
	height: 48px;
	width: 48px;
	border-radius: 5px;
}
.well {
	padding: 19px 8px 19px 8px;
}
.row {
	margin: 0px -19px 20px -19px;
}
.red, .blue {
	overflow: hidden;
}
.tweet-area {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: whitesmoke;
	position: absolute;
	margin: 0;
	padding: 35px 0 0 0;
	background-color: rgba(255,255,255,0);
	border-radius: 0;
	height: 500px;
	z-index: 10;
}
.can-row {
}
.can-svg {
	position: relative;
	height: 500px;
	width: 500px;
	margin: 0px 0 0 -15px;
	z-index: 0;
}
.pep-can-color {
	fill: #000d82;
}
.cok-can-color {
	fill: #b81321;
}
.start-coke {
}
.start-pepsi {
}
.cc {
	text-align: center;
}
.timesince {
	float: right;
}
@mixin keyframes-revealX($prefix, $start, $dest) {
        0% { #{$prefix}transform: translateX(#{$start}); opacity: 0;}
        100% { #{$prefix}transform: translateX(#{$dest}); opacity: 1;}
}

@mixin keyframes-slideY($prefix, $start, $dest) {
        0% { #{$prefix}transform: translateY(#{$start}); opacity: 1;}
        100% { #{$prefix}transform: translateY(#{$dest}); opacity: 1;}
}
$tweet-height: 132px;

@mixin transform-origin($x: '', $y: '', $z: '') {
        -webkit-transform-origin: #{$x} #{$y} #{$z};
        -moz-transform-origin: #{$x} #{$y} #{$z};
        -o-transform-origin: #{$x} #{$y} #{$z};
        transform-origin: #{$x} #{$y} #{$z};
}
@mixin animation-name($name) {
        -webkit-animation-name: #{$name};
        -moz-animation-name: #{$name};
        -o-animation-name: #{$name};
        animation-name: #{$name};
}
@mixin animation-params($prefix, $duration, $delay, $timing, $fillmode) {
        #{$prefix}animation-duration: #{$duration};
        #{$prefix}animation-delay: #{$delay};
        #{$prefix}animation-timing-function: #{$timing};
        #{$prefix}animation-fill-mode: #{$fillmode};
}
$anim-duration: 1.25s;
$anim-easing: linear;
.animate0{
        @include animation-params(-webkit-, $anim-duration, 0s, $anim-easing, both);
        @include animation-params(-moz-, $anim-duration, 0s, $anim-easing, both);
        @include animation-params(-ms-, $anim-duration, 0s, $anim-easing, both);
        @include animation-params('', $anim-duration, 0s, $anim-easing, both);
}

$start: 0px;
$end: $tweet-height;
@for $i from 1 through 4 {
	@-webkit-keyframes slide-down#{$i} {
        	@include keyframes-slideY(-webkit-, #{$start}, #{$end})
	}
	@-moz-keyframes slide-down#{$i} {
        	@include keyframes-slideY(-moz-, #{$start}, #{$end})
	}
	@-o-keyframes slide-down#{$i} {
        	@include keyframes-slideY(-o-, #{$start}, #{$end})
	}
	@keyframes slide-down#{$i} {
        	@include keyframes-slideY('', #{$start}, #{$end})
	}
	.slide-down#{$i} {
        	@include transform-origin(top, top);
        	@include animation-name(slide-down#{$i});
	}
	$start: $tweet-height * $i;
	$end: $tweet-height * ($i + 1);
}
  
$start: -600px;
$end: 0px;
@-webkit-keyframes slide-right {
       	@include keyframes-revealX(-webkit-, #{$start}, #{$end})
}
@-moz-keyframes slide-right {
       	@include keyframes-revealX(-moz-, #{$start}, #{$end})
}
@-o-keyframes slide-right {
       	@include keyframes-revealX(-o-, #{$start}, #{$end})
}
@keyframes slide-right {
       	@include keyframes-revealX('', #{$start}, #{$end})
}
.reveal-right {
       	@include transform-origin(top, top);
       	@include animation-name(slide-right);
}

$start: 600px;
$end: 0px;
@-webkit-keyframes slide-left {
       	@include keyframes-revealX(-webkit-, #{$start}, #{$end})
}
@-moz-keyframes slide-left {
       	@include keyframes-revealX(-moz-, #{$start}, #{$end})
}
@-o-keyframes slide-left {
       	@include keyframes-revealX(-o-, #{$start}, #{$end})
}
@keyframes slide-left {
       	@include keyframes-revealX('', #{$start}, #{$end})
}
.reveal-left {
       	@include transform-origin(top, top);
       	@include animation-name(slide-left);
}
